In [2]:
import sklearn
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("placement.csv")

In [4]:
df.head(3)

   Unnamed     iq  cgpa  placement
0        0  230.6   2.1          1
1        1  176.8   5.4          1
2        2  202.9   6.5          0